<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Un blog de mes différents voyages">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <img class="banner" src="/resources/banner.png" alt="Voici la bannière de Destination Anywhere">
    <p id="welcome">Bienvenue sur mon blog de voyage</p>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">A propos de moi</a></li>
            <li><a href="/blog/page-0">Mes articles</a></li>
        </ul>
    </nav>
</header>

<main>
    {{ content | safe }}
</main>

<footer>
<!--    TEST FOOTER-->
</footer>

</body>
</html>